@charset "UTF-8";
/* CSS Document */
html{
	height:100%;
}
body {
	padding: 10;
	background-repeat: repeat;
    height: 100%;
	
}
#headerimg {
	background-image: url(./football.jpg);
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 144px;
	display: block;
	padding-top: 10px;
}
#kysymyscont {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	display: block;
	height: 150px;
}
.kysymys{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
        padding-top: 50px;
	height: 100px;
	color: #3E3E3E;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-align: center;
}
#submitnappi{
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 50px;
	display: block;
	margin-top: 20px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-style: normal;
	font-size: large;
}
#vastausformi{
	height: 100px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
.vastausformi{
	padding:1% 1% 1% 0;
}
#wrapper{
	-webkit-box-shadow: 4px 4px 39px -8px #000000;
	overflow: hidden;
	height: 90%;
	background:#a5d89cc9;
	margin-right: auto;
  	margin-left:  auto;
  	max-width: 960px;
  	padding: 20px;
  	font-size:18px;
}
#tuloksetWrapper{
	-webkit-box-shadow: 4px 4px 39px -8px #000000;
	background:#a5d89cc9;
	margin-right: auto;
  	margin-left:  auto;
  	max-width: 960px;
  	padding: 20px;
  	font-size:18px;
}
.foot{
	position: fixed;
  	bottom: 5%;
  	width: 100%;
}
#loginForm{
	bottom:10%;
	position:fixed;
	padding:0 0 2% 2%;
}
#themeslot{
	
	bottom: 10%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #62d159;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}