<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Vaalikone</servlet-name>
    <servlet-class>vaalikone.Vaalikone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vaalikone</servlet-name>
    <url-pattern>/Vaalikone</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>AdminPage</servlet-name>
    <jsp-file>/AdminPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPage</servlet-name>
    <url-pattern>/AdminPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PoistaEhdokas</servlet-name>
    <servlet-class>vaalikone.PoistaEhdokas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoistaEhdokas</servlet-name>
    <url-pattern>/PoistaEhdokas</url-pattern>
  </servlet-mapping>
<!--   <servlet>
    <servlet-name>LisaaEhdokas</servlet-name>
    <servlet-class>vaalikone.LisaaEhdokas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LisaaEhdokas</servlet-name>
    <url-pattern>/LisaaEhdokas</url-pattern>
  </servlet-mapping> -->
</web-app>